<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
	<!-- 보드 관련 쿼리 -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where b_status='Y'
	</select>
	
	<select id="selectList" resultType="_int">
		select count(*)
		from board
	</select>
	
	<!-- 맴버관련 쿼리 , parameterType="Member" resultType="Member"-->
	
	<select id="selectMember" resultMap="MemberResultSet">
		select m_id, m_pw, m_name, m_nick, m_status, m_admin
		from member
	</select>	
	
	<resultMap type="Member" id="MemberResultSet">
		<id column="M_ID" property="mId"/>
		<result column="M_PW" property="mPw"/>
		<result column="M_NAME" property="mName"/>
		<result column="M_NICK" property="mNick"/>
		<result column="M_PHONE" property="mPhone"/>
		<result column="M_EMAIL" property="mEmail"/>
		<result column="M_STATUS" property="mStatus"/>
		<result column="M_ADMIN" property="mAdmin"/>
		<result column="M_INTRODUCE" property="mIntroduce"/>
	</resultMap>
	
<!-- 	<select id="getMemberCount" resultType="_int"> -->
<!-- 		select count(*) -->
<!-- 		from member -->
<!-- 		where m_status ='Y' -->
<!-- 	</select> -->
	
</mapper>
