<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		select count(*) from board where b_status='Y' and b_type=#{bType} 
	</select>

	<select id="selectList" parameterType="hashmap" resultMap="boardResultSet">
		select b_no, b_type, b_title, b_content, b_date, b_count, b_status, b_first, b_writer, m_nick,
				(select count(l_no) from likey where l_bno = b_no) as "lCount"
		from board
		join member on (b_writer = m_id)
		where b_status='Y' and b_type=#{bType} order by b_first desc
		<if test="standard == 'bNo'">
			, b_no desc
		</if>
		<if test="standard == 'bCount'">
			, b_count desc
		</if>
		<if test="standard == 'lCount'">
			, "lCount" desc
		</if>
	</select>
	<resultMap type="Board" id="boardResultSet">
		<id column="B_NO" property="bNo" />
		<result column="B_TYPE" property="bType" />
		<result column="B_TITLE" property="bTitle" />
		<result column="B_CONTENT" property="bContent" />
		<result column="M_NICK" property="nickName" />
		<result column="B_DATE" property="bDate" />
		<result column="B_COUNT" property="bCount" />
		<result column="B_STATUS" property="bStatus" />
		<result column="B_FIRST" property="bFirst" />
		<result column="B_WRITER" property="bWriter" />
		<result column="lCount" property="lCount" />
	</resultMap>

	<insert id="insertBoard">
		insert into board values (seq_bno.nextval, #{bType}, #{bTitle}, #{bContent},
		sysdate, default, default, default, #{bWriter})
	</insert>
	
	<update id="addCount">
		update board set b_count = b_count +1
		where b_no=#{bNo}
	</update>
	<select id="selectBoard" resultMap="boardResultSet">
		select b_no, b_type, b_title, b_content, b_date, b_count, b_status, b_first, b_writer, m_nick,
				(select count(l_no) from likey where l_bno = #{bNo}) as "lCount"
		from board
		join member on (b_writer = m_id)
		where b_no = #{bNo} and b_status='Y'
	</select>
	<update id="updateBoard">
		update board set b_type=#{bType}, b_title=#{bTitle}, b_content=#{bContent}
		where b_no=#{bNo}
	</update>
	<update id="deleteBoard">
		update board
		set b_status='N'
		where b_no=#{bNo}
	</update>

	<select id="selectLike" resultMap="likeResultSet">
		select *
		from likey
		where l_bno=#{lBNo} and l_id=#{lId}
	</select>
	
	<delete id="deleteLike">
		delete from likey
		where l_bno=#{lBNo} and l_id=#{lId}
	</delete>
	
	<insert id="insertLike">
		insert into likey values (seq_lno.nextval, #{lId}, #{lBNo})
	</insert>

	<resultMap type="Likey" id="likeResultSet">
		<id column="L_NO" property="lNo" />
		<result column="L_ID" property="lId" />
		<result column="L_BNO" property="lBNo" />
	</resultMap>
	
</mapper>
