<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<select id="login" resultMap="memberResultSet">
		select *
		from member
		where m_email=#{email}
		and m_status='Y'

	</select>

	<insert id="insertMember">
		insert into member
		values(#{email}, #{pwd}, #{name}, #{nickName}, default, default, null, null, null, null)
	</insert>
	
	<select id="selectProfile" resultType="_int">
		select count(*)
		from member
		where m_email=#{email}
			and m_status='Y'
	</select>
	
	<select id="memberInfo" resultMap="memberResultSet">
		select * 
		from member
		where m_email=#{user}
	</select>

	<resultMap type="Member" id="memberResultSet">
		<id column="M_EMAIL" property="email" />
		<result column="M_PWD" property="pwd" />
		<result column="M_NAME" property="name" />
		<result column="M_NICK" property="nickName" />
		<result column="M_EMAIL" property="email" />
		<result column="M_STATUS" property="status" />
		<result column="M_ADMIN" property="admin" />
		<result column="M_EDU" property="education" />
		<result column="M_LOCATION" property="location" />
		<result column="M_SKILL" property="skill" />
		<result column="M_NOTE" property="note" />
	</resultMap>
	

</mapper>
