<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
	<!-- 보드 관련 쿼리 -->	
	<resultMap type="Board" id="boardResultSet">
		<id column="B_NO" property="bNo" />
		<result column="B_TYPE" property="bType" />
		<result column="B_TITLE" property="bTitle" />
		<result column="B_CONTENT" property="bContent" />
		<result column="B_DATE" property="bDate" />
		<result column="B_COUNT" property="bCount" />
		<result column="B_STATUS" property="bStatus" />
		<result column="B_FIRST" property="bFirst" />
		<result column="B_WRITER" property="bWriter" />
		<result column="B_TAGS" property="bTags" />
		<result column="lCount" property="lCount" />
		<result column="rCount" property="rCount" />
	</resultMap>
	
	<select id="getListCountB" resultType="_int">
		select count(*)
		from board
	</select>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select b_no, b_title, b_content, b_date, b_status, b_writer, b_type
		from board
		 order by b_no desc
	</select>
	
	<select id="selectBoardB" resultMap="boardResultSet">
		select b_no, b_title, b_content, b_date, b_status, b_writer, b_type
		from board
		<trim prefix="WHERE" prefixOverrides="ADN|OR">
			<if test='bType == "1"'>
				b_type = 1
			</if>
			<if test='bType == "2"'>
				b_type = 2
			</if>
			<if test='bType == "3"'>
				b_type = 3
			</if>
			<include refid="searchB"/>
		</trim>
		order by b_no
	</select>
	
	<select id="getBoardListCountB" resultType="_int">
		select count(*)
		from board
		<trim prefix="WHERE" prefixOverrides="ADN|OR">
			<if test='bType == "1"'>
				b_type = 1
			</if>
			<if test='bType == "2"'>
				b_type = 2
			</if>
			<if test='bType == "3"'>
				b_type = 3
			</if>
			<include refid="searchB"/>
		</trim>
		order by b_no
	</select>
	
	<sql id="searchB">
		<if test="table_search != null">
			or ( b_no like '%' || #{table_search} || '%' )
			or ( b_writer like '%' || #{table_search} || '%' ) 
			or ( b_title like '%' || #{table_search} || '%' )
			or ( b_date like '%' || #{table_search} || '%' )
		</if>
	</sql>
	
	
	
	<!-- 맴버관련 쿼리 , parameterType="Member" resultType="Member"-->	
	<resultMap type="Member" id="memberResultSet">
		<id column="M_ID" property="id" />
		<result column="M_EMAIL" property="email" />
		<result column="M_PWD" property="pwd" />
		<result column="M_NICK" property="nickName" />
		<result column="M_STATUS" property="status" />
		<result column="M_ADMIN" property="admin" />
		<result column="M_EDU" property="education" />
		<result column="M_LOCATION" property="location" />
		<result column="M_SKILL" property="skill" />
		<result column="M_NOTE" property="note" />
	</resultMap>
	
	<select id="selectMember" resultMap="memberResultSet">
		select m_id, m_pwd, m_nick, m_status, m_admin, m_email
		from member
		order by m_email desc
	</select>
	
	<select id="getMemberCount" resultType="_int">
		select count(*)
		from member
	</select>
	
	<!-- 여기부터 작성 -->
	<select id="selectMemberM" resultMap="memberResultSet">
		select m_id, m_pwd, m_nick, m_status, m_admin, m_email
		from member
		<trim prefix="WHERE" prefixOverrides="ADN|OR">
			<if test='mstatus == "N"'>
				m_status = 'N'
			</if>
			<if test='madmin == "Y"'>
				m_admin = 'Y'
			</if>
			<if test='madmin == "N"'>
				m_admin = 'N'
			</if>
			<include refid="searchM"/>
		</trim>
		order by m_id desc
	</select>
	
	<select id="getMemberCountM" resultType="_int">
		select count(*)
		from member
		<trim prefix="WHERE" prefixOverrides="ADN|OR">
			<if test='mstatus == "N"'>
				m_status = 'N'
			</if>
			<if test='madmin == "Y"'>
				m_admin = 'Y'
			</if>
			<if test='madmin == "N"'>
				m_admin = 'N'
			</if>
			<include refid="searchM"/>
		</trim>
		order by m_id desc
	</select>
	
	<sql id="searchM">
		<if test="table_search != null">
			or ( m_id like '%' || #{table_search} || '%' )
			or ( m_nick like '%' || #{table_search} || '%' ) 
			or ( m_email like '%' || #{table_search} || '%' )
		</if>
	</sql>
	
	<select id="pwdCheck" resultMap="memberResultSet">
		select m_id, m_pwd
		from member
		where m_id=#{id}
	</select>
	
	<resultMap type="Reply" id="replyResultSet">
  		<id column="R_NO" property="rNo"/>
  		<result column="R_DATE" property="rDate"/>
	  	<result column="R_CONTENT" property="rContent"/>
	  	<result column="R_STATUS" property="rStatus"/>
	  	<result column="R_WRITER" property="rWriter"/>
	  	<result column="R_BNO" property="rBNo"/>
	  	<result column="M_NICK" property="nickName"/>
	 </resultMap>
	
	<update id="updateBoard">
		update board
		set b_status=#{bStatus}
		where b_no=#{bNo}
	</update>
	
	<update id="updateAdminMember">
		update member
		set m_admin=#{mAdmin}
		where m_id=#{id}
	</update>
	
	<update id="updateStatusMember">
		update member
		set m_status=#{mStatus}
		where m_id=#{id}
	</update>

</mapper>
