<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">	
	<select id="getListCount" resultType="_int">
  		select count(*) from board where b_type=#{bType} and b_status='Y'
  	</select>

<select id="selectList" resultMap="boardResultSet">
  		select b_no, b_type, b_title, b_content, b_date, b_count, b_status, b_first, b_writer, m_nick
  		from board
  		join member on (b_writer = m_id)
  		where b_status='Y' and b_type=#{bType} order by b_first desc, b_no desc
  	</select>
	<resultMap type="Board" id="boardResultSet">
		<id column="B_NO" property="bNo" />
		<result column="B_TYPE" property="bType" />
		<result column="B_TITLE" property="bTitle" />
		<result column="B_CONTENT" property="bContent" />
		<result column="B_DATE" property="bDate" />
		<result column="B_COUNT" property="bCount" />
		<result column="B_STATUS" property="bStatus" />
		<result column="B_FIRST" property="bFirst" />
		<result column="B_WRITER" property="bWriter" />
	</resultMap>
	  	<insert id="insertBoard">
  		insert into board values (seq_bno.nextval, #{bType}, #{bTitle}, #{bContent},
  		sysdate, default, default, default, #{bWriter})
  	</insert>
  	<update id="addCount">
  		update board set b_count = b_count +1
  		where b_no=#{bNo}
  	</update>
  	<select id="selectBoard" resultMap="boardResultSet">
  		select b_no, b_type, b_title, b_content, b_date, b_count, b_status, b_first, b_writer, m_nick
  		from board
  		join member on (b_writer = m_id)
  		where b_no = #{bNo} and b_status='Y'
  	</select>
</mapper>
